@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  html {
    @apply scroll-smooth;
  }

  body {
    margin: 0;
    min-width: 320px;
    min-height: 100vh;
  }
}

@layer components {
  /* Empty State */
  .empty-state {
    @apply text-center py-12 opacity-50;
  }

  .empty-state p {
    @apply text-lg;
  }

  .empty-state-hint {
    @apply text-sm italic mt-2;
  }
}
